body {
    margin: 0;
    padding: 0;
}

.body-container {
    display: grid;
    grid-template-columns: 1fr;
    /* background: linear-gradient(to bottom, rgb(5,102,141), aliceblue); */

    background-image: url("images&videos/bridge_img1.JPG");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-wrapper {
    
}

/* Navbar */

.navbar-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    background-color: rgb(5,102,141);
}

.navbar-info-left {
    position: absolute;
    float: left;
    width:  25%;
    height: 10%;
    left: 25px;
    top: 110px;
}

.navbar-info-left-text {
    position: absolute;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: white;
    justify-self: left;
}

.navbar-info-right {
    position: absolute;
    float: right;
    width: 10%;
    height: 10%;
    right: 0px;
    margin-top: 95px;
    /* background-color: rgb(5,102,141); */
}

.right-side {
   display: flex;
}

.navbar-wrapper > .right-side > div {
    padding: 1rem;
    font-size: 0.95em;
    text-transform: uppercase;
    padding-top: 50px;
}

.navbar-link-wrapper {  
    text-align: center;
}

img {
    max-width: 200px;
    max-height: 100px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
}

.navbar-link-wrapper > a {
    color: goldenrod;
    position: relative;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

.navbar-link-wrapper-haschildren > a {
    color: goldenrod;
    position: relative;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}
  
.navbar-link-wrapper > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    border-radius: 4px;
    background-color: crimson;;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.navbar-link-wrapper-haschildren > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    border-radius: 4px;
    background-color: crimson;;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.navbar-link-wrapper > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.navbar-link-wrapper-haschildren > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Dropdown Menu */

.navbar-link-wrapper-haschildren:hover > .menu-dropdown-items > .item-menu-last {
    display: block;
    position: relative;
    margin-top: 8.5px;
    right: 30px;
}

.navbar-link-wrapper-haschildren:hover > .menu-dropdown-items > .item-menu {
    display: block;
    position: relative;
    margin-top: 8.5px;
}

.navbar-link-wrapper-haschildren {
    text-align: center;
}

.navbar-link-wrapper-haschildren > .menu-dropdown-items {
    position: absolute;
    text-align: center;
}

.menu-dropdown-items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-link-wrapper-haschildren > .menu-dropdown-items > .item-menu {
    text-align: center;
    line-height: 15px;
    display: none;
    position: relative;
    color: goldenrod;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 0.95em;
}

.navbar-link-wrapper-haschildren > .menu-dropdown-items > .item-menu-last {
    text-align: center;
    line-height: 15px;
    display: none;
    position: relative;
    color: goldenrod;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 0.95em;
}

.navbar-link-wrapper-haschildren > .menu-dropdown-items > .item-menu > a {
    color: goldenrod;
    position: relative;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    
}

.navbar-link-wrapper-haschildren > .menu-dropdown-items > .item-menu > a::before { 
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    border-radius: 4px;
    background-color: crimson;;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;

}

.navbar-link-wrapper-haschildren > .menu-dropdown-items > .item-menu > a:hover::before { 
    transform-origin: left;
    transform: scaleX(1);
}

.navbar-link-wrapper-haschildren > .menu-dropdown-items > .item-menu-last > a {
    color: goldenrod;
    position: relative;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    
}

.navbar-link-wrapper-haschildren > .menu-dropdown-items > .item-menu-last > a::before { 
    content: '';
    position: absolute;
    width: 100%;
    height: 2.5px;
    border-radius: 4px;
    background-color: crimson;;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;

}

.navbar-link-wrapper-haschildren > .menu-dropdown-items > .item-menu-last > a:hover::before { 
    transform-origin: left;
    transform: scaleX(1);
}

/* Arrow */

.arrow {
    border: solid goldenrod;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 1.8px;
    
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* Body Header */

.body-header1-background {
    height: 65px;
    background: linear-gradient(to top, crimson, goldenrod);
}

.body-header1-text {
    padding-top: 15px;
    text-transform: uppercase;
    line-height: 30px;
    text-align: center;
    color: #f3eff5;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1.75em;
    letter-spacing: 2px;
    font-weight: 800;
    -webkit-box-reflect: below -2px linear-gradient(transparent, #f3eff539);
    
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
      transform: scale(1);
    }
}
  
span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}
  
span:nth-child(1) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(2) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(3) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(4) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(5) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(6) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(7) {
    animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(8) {
    animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(9) {
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(10) {
    animation: fade-in 0.8s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
span:nth-child(11) {
    animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}
  
  
@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
}

.body-header-video {
    display: flex;
}

#background-video {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%
}

/* Mission Statement Styles */

.body-MissionStatement-wrapper {
    position: relative;
}

.body-MissionStatement-header-background {
    position: relative;
    height: 75px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.423), rgb(216, 187, 112), goldenrod, rgba(0, 0, 0, 0.423));
}

.body-MissionStatement-header-text {
    position: relative;
    padding-top: 25px;
    text-transform: uppercase;
    line-height: 20px;
    text-align: center;
    color: crimson;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    letter-spacing: 2px;
    font-weight: 800;
}

.body-MissionStatement-body-background {
    position: relative;
    height: 450px;
    background-image: url(images&videos/MS_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.body-MissionStatement-body-text {
    position: relative;
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 35px;
    text-transform: uppercase;
    line-height: 70px;
    text-align: center;
    font-style: italic;
    color: crimson;
    /* color: #f3eff5; */
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    letter-spacing: 1.9px;
    font-weight: 600;
    text-shadow: 0 0 1px black;
}

.body-MissionStatement-body-footer-text {
    position: relative;
    padding-top: 40px; 
    text-transform: uppercase;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 0 1px black;
    color: crimson;
    /* color: #f3eff5; */
    font-family: 'Playfair Display', serif;
    font-size: 2.1em;
    letter-spacing: 2px;
    font-weight: 700;
}

/* Icons Styles */
  
.social-btns .fa-facebook {
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 40px;
    height: 28px;
    color: white;
    background-color: gray;
    padding-top: 12px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
}
  
.social-btns .fa-facebook:hover {
    color: #ffffff;
    background-color: #3b5999;
}

.social-btns .fa-envelope {
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    width: 40px;
    height: 28px;
    color: white;
    background-color: gray;
    padding-top: 12px;
    border-radius: 22px;
    -moz-border-radius: 22px;
    -webkit-border-radius: 22px;
    -o-border-radius: 22px;
}
  
.social-btns .fa-envelope:hover {
    color: #ffffff;
    background-color: crimson;
}

/* Body Info Toll Wrapper */

.body-toll-info {
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    height: 650px;
}

.body-info-grid-container {
    display: grid;
    position: relative;
    background-color: white;
    height: 650px;
}

.body-info-grid-item1 {
    /*Hours of Operation*/

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
}

.item1-header {
    text-align: center;
    line-height: 45px;
    color: goldenrod;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 2.95em;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.item1-contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.item1-col1-header {
    display: grid;
    grid-template-columns: 1fr;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
}

.item1-col2-header {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
}

.item1-row-text {
    padding-top: 2px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

.body-info-grid-item2 {
    /*Permitted Items*/

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;

    padding-left: 30px;
    padding-right: 30px;
}

.item2-header {
    line-height: 30px;
    text-align: center;
    color: goldenrod;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 2.95em;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.item2-contents {
    display: grid;
    grid-template-columns: 1fr;
}

.item2-row-text {
    padding-top: 2px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.19em;
}

.item2-row-text-link > a {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.19em;
    color: crimson;
}

.item2-row-text-link {
    text-align: center;
    padding-top: 8px;
    margin-left: 10px;
    position: relative;
}

.body-info-grid-item3 {
    /*Prohibited Items*/

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;

    padding-left: 30px;
    padding-right: 30px;

    border-left: solid 3px crimson;
}

.item3-header {
    line-height: 45px;
    text-align: center;
    color: goldenrod;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 2.95em;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.item3-contents {
    display: grid;
    grid-template-columns: 1fr;
}

.item3-row-text {
    padding-top: 2px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.19em;
}

.item3-row-text-link > a {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.19em;
    color: crimson;
}

.item3-row-text-link {
    text-align: center;
    padding-top: 8px;
    margin-left: 15px;
    position: relative;
}

.body-info-grid-item4 {
    /*Fare Schedules*/

    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;

    border-left: solid 3px crimson;
}

.item4-header {
    line-height: 45px;
    text-align: center;
    color: goldenrod;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 2.95em;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.item4-contents {
    display: inline-flex;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.item4-col1-header {
    display: inline-block;
    text-align: left;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.19em;
}

.item4-col2-header {
    display: inline-block;
    text-align: right;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.19em;
}

.item4-row-text {
    padding-top: 2px;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

.body-info-grid-item5 {

    /*CargoVehicleHours*/

    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;

    border-left: solid 3px crimson;
}

.item5-header {
    text-align: center;
    line-height: 45px;
    color: goldenrod;
    font-weight: 800;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-size: 2.95em;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.item5-contents {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item5-col1-header {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.13em;
    border-right: 1px solid crimson;
    padding-right: 2px;
    
}

.item5-col2-header {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.13em;
}

.item5-col3-header {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.13em;
    border-left: 1px solid crimson;
    padding-left: 2px;
}

.item5-row-text {
    padding-top: 2px;
    text-decoration: none;
    
    font-family: 'Varela Round', sans-serif;
}

/* Body Info Partners Styles */

.body-partners-info-wrapper {
    position: relative;
    padding-top: 15px;
}

.body-partners-info-header {
    background: linear-gradient(170deg, crimson, goldenrod);
    position: relative;
    height: 70px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 45px;
    margin-right: 45px;
}

.body-partners-info-header-text {
    padding-top: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    color: #f3eff5;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    letter-spacing: 1.8px;
}

.body-partners-img-carousel-wrapper {
    margin: 0;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 55px;
    position: relative;
}

.body-partners-img-carousel-contents {
    background: linear-gradient(25deg, crimson, goldenrod);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    display: block;
}

.cell {
    position: relative;
    width: 22%;
    height: 250px;
    margin: 0 15px;
   
}

.cell img {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 250px;
    object-fit: contain;
}

#BOP_IMG {
    transform: scale(2.1);
    padding-top: 45px;
}

#BCold_IMG {
    transform: scale(1.8);
    padding-top: 50px;
}

#FDA_IMG {
    transform: scale(1.4);
    padding-top: 50px;
}

#IndFound_IMG {
    transform: scale(1.8);
    padding-top: 40px;
}

#Home_IMG {
    transform: scale(1.75);
    padding-top: 40px;
}

#Strauns_IMG {
    transform: scale(1.9);
    padding-top: 40px;
}

#USDA_IMG {
    transform: scale(1.8);
    padding-top: 45px;
}

/* Body Info Cus. Rev. Styles */

.body-customer-review-info-wrapper {
    position: relative;
}

.body-customer-review-info-content-wrapper {
    position: relative;
    display: flex; 
    justify-content: center;
    min-height: 900px;
    padding-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
    background: rgb(5,102,141);
}

.body-customer-review-info-header-wrapper {
    position: relative;
}

.body-customer-review-info-header-background {
    position: relative;
    height: 70px;
    background: linear-gradient(to bottom, #f3eff500, rgb(5,102,141));
}

.body-customer-review-info-header-text {
    text-align: center;
    text-transform: uppercase;
    line-height: 20px;
    color: #f3eff5;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
    font-size: 4em;
    letter-spacing: 1.8px;
    text-shadow: 0 0 1px black;
}

.body-customer-review-info-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 30px;
}

.body-customer-review-info-cards-container {
    position: relative;
    padding-left: 20px;
    padding-top: 30px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.body-customer-review-info-content-right {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.body-customer-review-info-right-text > p {
    color: #f3eff5;
    text-align: center;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.5px;
}

.body-customer-review-info-right-text > h1 {
    color: rgb(5,102,141);
    background-color: #f3eff5;
    border-radius: 20px;
    border: 8px solid #f3eff5;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
}

.body-customer-review-info-cards-container {
    border-right: 2px solid #f3eff5;
}

/* Body Info Cus. Rev. Card 1 Styles */

.body-customer-review-card1 {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    padding: 8px;
}

.body-customer-review-card1:hover #TERESA_LOGO {
    top: 80%;
    animation-play-state: paused;
}

.body-customer-review-card1:hover #TERESA_VID {
    left: 90%;
    top: 40%;
    opacity: 1;
    visibility: visible;
}

.body-customer-review-card1 .card1-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.body-customer-review-card1 .card1-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f3eff5;
    clip-path: circle(75px at center);
    transition: 0.5s;
}

.body-customer-review-card1:hover .card1-circle:before {
    background: rgba(80, 80, 80, 0.8);
    clip-path: circle(400px at center);
}

#TERESA_VID {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 350px;
    min-height: 200px;
    border-radius: 20px;
    border: 1px solid black;
    transform: translate(-65%, -60%);
    pointer-events: none;
    transition: 0.9s;
    opacity: 0;
    visibility: hidden;
}

#TERESA_LOGO {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -60%);
    pointer-events: none;
    transition: 0.5s;
    animation: bounce1 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce1 { 
    0% {
        transform: translate(-65%, -60%) translateY(0);
    }
    100% {
        transform: translate(-65%, -60%) translateY(-15px);
    }
}

.body-customer-review-card1 .card1-content {
    position: relative;
    width: 50%;
    bottom: 20%;
    padding: 10px 10px 10px 30px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card1-content-text {
    color: #fff;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

.card1-text-footer {
    color: #fff;
    font-style: italic;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}

.card1-content-link {
    text-align: center;
}

.card1-content-link > a {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: 580;
    position: relative;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    background: crimson;
    margin-top: 15px;
    display: inline-block;
}

.body-customer-review-card1:hover .card1-content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 991px) {
    .body-customer-review-card1 {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
        margin: 10px;
    }
    .body-customer-review-card1:hover {
        height: 600px;
    }
    .body-customer-review-card1 .card1-content {
        width: 100%;
        top: 5%;
        left: 0;
        padding: 40px; 
    }
    .body-customer-review-card1:hover #TERESA_VID {
        top: 70%;
        left: 57%;
    }
}

/* Body Info Cus. Rev. Card 2 Styles */

.body-customer-review-card2 {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    padding: 8px;
}

.body-customer-review-card2:hover #EXCOMEX_LOGO {
    top: 80%;
    animation-play-state: paused;
}

.body-customer-review-card2:hover #EXCOMEX_VID {
    left: 90%;
    top: 40%;
    opacity: 1;
    visibility: visible;
}

.body-customer-review-card2 .card2-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.body-customer-review-card2 .card2-circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f3eff5;
    clip-path: circle(75px at center);
    transition: 0.5s;
}

.body-customer-review-card2:hover .card2-circle:before {
    background: rgba(80, 80, 80, 0.8);
    clip-path: circle(400px at center);
}

#EXCOMEX_VID {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 350px;
    min-height: 200px;
    border-radius: 20px;
    border: 1px solid black;
    transform: translate(-65%, -60%);
    pointer-events: none;
    transition: 0.9s;
    opacity: 0;
    visibility: hidden;
}

#EXCOMEX_LOGO {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -65%);
    pointer-events: none;
    transition: 0.5s;
    animation: bounce 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes bounce { 
    0% {
        transform: translate(-80%, -65%) translateY(0);
    }
    100% {
        transform: translate(-80%, -65%) translateY(-20px);
    }
}

.body-customer-review-card2 .card2-content {
    position: relative;
    width: 50%;
    bottom: 20%;
    padding: 10px 10px 10px 30px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card2-content-text {
    color: #fff;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}

.card2-text-footer {
    color: #fff;
    font-style: italic;
    font-size: 14px;
    font-family: 'Varela Round', sans-serif;
}

.card2-content-link {
    text-align: center;
}

.card2-content-link > a {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    font-weight: 580;
    position: relative;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    background: crimson;
    margin-top: 15px;
    display: inline-block;
}

.body-customer-review-card2:hover .card2-content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

@media (max-width: 991px) {
    .body-customer-review-card2 {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
        margin: 10px;
    }
    .body-customer-review-card2:hover {
        height: 600px;
    }
    .body-customer-review-card2 .card2-content {
        width: 100%;
        top: 5%;
        left: 0;
        padding: 40px; 
    }
    .body-customer-review-card2:hover #TERESA_VID {
        top: 70%;
        left: 57%;
    }
}

/* Body Content Info Box */

.body-content-info-box-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
    width: 100%;
    background-color: #f3eff5;
}

.body-content-info-box-contents-buttons-wrapper {
    position: relative;
    background-color: rgb(80, 80, 80);
}

.body-content-info-box-contents-buttons {
    position: relative;
}

.body-content-info-box-contents-buttons > ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.body-content-info-box-contents-buttons > ul > li {
    display: flex;
}

.body-content-info-box-contents-buttons > ul > li > button {
    display: block;
    margin: 0;
    height: auto;
    width: 250px;
    border-radius: 55px;
    background-color: rgb(20,20,20);
}

.body-content-info-box-contents-buttons > ul > li > button:hover {
    background-color: crimson;
}

.body-content-info-box-contents-buttons > ul > li > button:focus {
    background-color: crimson;
}

.body-content-info-box-contents-buttons-txt {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #f3eff5;
}

.body-content-info-box-contents-buttons > ul > li > button > img {
    padding: 2px;
    width: auto;
}

.body-content-info-box-contents-button-info-grid {
    display: grid;
    position: relative;
    padding: 20px;
    grid-template-columns: 50%;
    grid-template-rows: 100%;
}

.body-content-info-box-contents-info-grid-text-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.body-content-info-box-contents-info-grid-img-right {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    background-image: url(images&videos/PICS/BaluarteBridge3.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.body-content-info-box-contents-button-info-wrapper {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.body-content-info-box-contents-button-info {
    position: relative;
    border: 5px solid rgb(20,20,20);
    border-radius: 15px;
}

.body-content-info-box-contents-button-info-img {
    
}


.body-content-info-box-contents-button-info-text {
    padding: 10px;
}

.body-content-info-box-contents-button-info-text > h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 3.4rem;
    color: crimson;
    text-align: center;
    text-decoration: underline 5px solid goldenrod;
}

.body-content-info-box-contents-button-info-text > p {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}

/* Footer Styles */

.footer-page-wrapper {
    position: relative;
}

.footer-page-background {
    display: flex;
    background-color: rgba(0, 0, 0, 0.699);
    min-height: 700px; 
}

.footer-info-container-wrapper {
    padding: 100px;
}

.footer-page-text {
    color: #fff;
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
}