.body-content-info-box-wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    width: 100%;
    background-color: white;
}

.body-content-info-box-contents-buttons-wrapper {
    position: relative;
    /* background: linear-gradient(25deg, rgb(5,102,141), #e5e5e5); */
    /* background: linear-gradient(25deg, rgb(216, 178, 81), crimson); */
    /* background: linear-gradient(25deg, crimson, rgb(216, 178, 81)); */
    background-color: rgb(80, 80, 80);
    /* padding-left: 15px; */
    padding-right: 15px;
    /* background: rgb(20,20,20); */
    /* background-color: #e5e5e5; */
}

.body-content-info-box-contents-buttons {
    position: relative;
}

.body-content-info-box-contents-buttons > ul {
    margin: 0;
    display: block;
    /* justify-content: space-evenly; */
    position: relative;
    /* padding-left: 50px; */
    /* padding-right: 50px; */
    padding-top: 25px;
    padding-bottom: 25px;
}

.body-content-info-box-contents-buttons > ul > li {
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.body-content-info-box-contents-buttons > ul > li > button {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 145px;
    width: 170px;
    /* border-radius: 35px; */
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: rgb(20,20,20);
    /* border: 2px solid crimson; */
}

.body-content-info-box-contents-buttons > ul > li > button:hover {
    background-color: crimson;
}

.body-content-info-box-contents-buttons > ul > li > button:focus {
    background-color: crimson;
}

.body-content-info-box-contents-buttons-txt {
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #f3eff5;
}

.body-content-info-box-contents-buttons > ul > li > button > img {
    padding: 0;
    width: 50px;
}

.body-content-info-box-contents-button-info-grid {
    display: grid;
    position: relative;
    padding: 10px;
    grid-template-columns: 50%;
    grid-template-rows: 100%;
}

.body-content-info-box-contents-info-grid-text-left {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.body-content-info-box-contents-info-grid-img-right {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;

    background-image: url("../images&videos/PICS/BaluarteBridge.png");
    background-repeat: no-repeat;
    background-position: center;
}

.body-content-info-box-contents-button-info-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.body-content-info-box-contents-button-info {
    position: relative;
    /* border: 5px solid rgb(20,20,20); */
    border-radius: 15px;
}

.body-content-info-box-contents-button-info-text {
    padding: 2px;
}

.body-content-info-box-contents-button-info-text > h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 3.4rem;
    color: goldenrod;
    text-align: center;
    /* text-decoration: underline 5px solid goldenrod; */
}

.body-content-info-box-contents-button-info-text > p {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}